app = "bakery-api"
primary_region = "sjc"  

[build]
   dockerfile = "apps/api/Dockerfile"

   build-target = "release"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    interval = "30s"
    timeout = "5s"
    grace_period = "10s"
    method = "GET"
    path = "/"

[[vm]]
  memory = '256mb'  
  cpu_kind = 'shared'
  cpus = 1

[env]
  NODE_ENV = "production"
  